<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>findTime</title>
		{% load staticfiles %}
		{% load compress %}
        {% compress css %}
        <link type="text/less" rel="stylesheet" href="/static/styles.less" charset="utf-8">
        {% endcompress %}
	</head>
	<body>
        <div id="screen"></div>
		<div class="banner"></div>
        <div id="main-container">
            <div id="nav-panel">
                <a>Home</a> |
                <a>About</a> |
                <a>Something</a>
            </div>
            <div id="login-container"><div id="login-panel">Login</div></div>
            <div id="banner-text">find<span>Time</span></div>
            <div id="content-container">

            </div>
        </div>
	</body>
</html>